<div class="h-100 w-100 d-flex align-items-center">
  <form class="text-center w-100" action="{{ routes.search_url }}" method="get" role="search">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="input-group px-md-5">
            <input name="q" type="text" class="form-control border-right-0" placeholder="Search" aria-label="Search"
              data-cy="search-drawer-input"
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-icon border boder-1 border-left-0"
                data-cy="search-drawer-submit"
              >
                {% render 'icon', name: 'search' %}
              </button>
              <a class="btn btn-link"
                data-toggle="drawer" data-target="#search-drawer"
                data-cy="search-drawer-close"
                href="#">
                {% render 'icon', name: 'close' %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>