{% assign navLinkList = section.settings.navLinkList | default: 'main-menu' %}
{% assign links = linklists[navLinkList].links %}
{% assign logo = section.settings.logo | img_url: '300x300' %}
{% assign logoMaxWidth = section.settings.logoMaxWidth %}
{% assign logoContainerClass = section.settings.logoAlignment %}
{% assign currentUrl = request.path | replace_firlst: '/', '' %}
<div class="position-relative">
  <div id="search-drawer" role="drawer-content" class="position-absolute position-fill layer-5">
    {% render 'search-drawer' %}
  </div>
  <div class="container-fluid">
    <div class="row" data-hide="drawer-open">
      <div id="logo" class="order-0 {{ logoContainerClass }} col">
        {% render 'nav-bar-logo', image: logo, maxWidth: logoMaxWidth  %}
      </div>

      {% if logoAlignment == 'logo-align-left' %}
      <nav class="navbar navbar-light navbar-expand-md">
        <div id="nav-bar-supported-content" class="collapse navbar-collapse">
          {% render 'link-list', links: links, ulClass: 'navbar-nav mr-auto', liClass: 'nav-item', aClass: 'nav-link' %}
        </div>
      </nav>
      {% endif %}

      <div class="col flex-grow-0 d-flex align-items-center">
        {% render 'header-user-nav' %}
      </div>
    </div>
  </div>
</div>

{% if logoAlignment == 'logo-align-center' %}
<nav class="navbar navbar-light navbar-expand-md">
  <div id="nav-bar-supported-content" class="collapse navbar-collapse">
    {% render 'link-list', links: links, ulClass: 'navbar-nav mr-auto', liClass: 'nav-item', aClass: 'nav-link' %}
  </div>
</nav>
{% endif %}

{% stylesheet %}
#logo.logo-container a {
  color: #000 !important;
  text-decoration: none !important;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Navigation Bar",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "id": "logoAlignment",
      "type": "radio",
      "label": "Alignemnt",
      "default": "logo-align-left",
      "options": [
        {
          "value": "logo-align-left",
          "label": "Left"
        },
        {
          "value": "logo-align-center",
          "label": "Center"
        }
      ]
    },
    {
      "id": "logo",
      "label": "Logo Image",
      "type": "image_picker"
    },
    {
      "type": "range",
      "id": "logoMaxWidth",
      "label": "Logo max width",
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "navLinkList",
      "label": "Navigation Link List"
    }
  ]
}
{% endschema %}